$radius-sm: 0;
$radius-md: 0;
$radius-lg: 0;
$radius-xl: 0;
$radius-pill: 0;

:root {
  --ui-radius-sm: #{$radius-sm};
  --ui-radius-md: #{$radius-md};
  --ui-radius-lg: #{$radius-lg};
  --ui-radius-xl: #{$radius-xl};
  --ui-radius-pill: #{$radius-pill};
}
