@use 'tokens/colors' as *;
@use 'tokens/spacing' as *;
@use 'tokens/radius' as *;
@use 'tokens/typography' as *;
@use 'tokens/motion';
@use 'tokens/effects';
@use 'tokens/zindex';

@use 'vendors/bootstrap';

@import 'utilities/index';
@import 'components/index';

body {
  background-color: var(--ui-color-surface);
  color: var(--ui-color-text);
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size-base);
  line-height: var(--ui-line-height-base);
}

.layout-main {
  padding: var(--ui-space-4);
}

.card {
  border-radius: var(--ui-radius-md);
}

@import 'bootstrap-icons/font/bootstrap-icons.css';
