@use './core';

.p-catalogs .p-catalog-grid .c-card__title {
    font-size: var(--font-size-18);
}

.p-catalogs .p-catalog-grid .c-card__meta {
    font-size: var(--font-size-14);
    color: var(--color-text-secondary);
}

.p-catalogs .p-catalog-grid .c-card:hover,
.p-catalogs .p-catalog-grid .c-card:focus-within {
    transform: translateY(-3px);
    box-shadow: var(--shadow-xs);
}

