@use './core';

.p-products .p-product-grid .c-card {
    justify-content: space-between;
}

.p-products .p-product-grid .c-card__title {
    font-size: var(--font-size-18);
}

.p-products .p-product-grid .c-card__meta {
    font-size: var(--font-size-14);
}

.p-products .p-empty {
    text-align: center;
    padding: clamp(var(--space-32), 8vw, var(--space-48));
    border-radius: var(--radius-lg);
    border: 1px dashed var(--color-gray-300);
    color: var(--color-text-secondary);
}

